// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrap {
	width:700px;
}

.store_sidebar{
	float:left;
	margin-top:0;
	width:200px;
}

.store{
	float:right;
	padding:15px;
	width:500px;
}

td{
	padding:15px;
}
